/* 去掉 Chrome 中 input[type=number] 的上下小箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

/* 去掉 Chrome 中 可输入元素中自动填充时的黄色背景 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

/* 修改 Chrome 中自动填充时的字体颜色 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: red;
}